

<div>
          
		   <form  role="form" method="post" action="/search" >
					
					
						
                    <div>
                        <label for="question" >Enter keyword</label>
						    <input type="text"  id="keyword" name="keyword" placeholder="Enter Keyword"/>
                  
                    </div>

					<div>                        
                      
                       <button type="submit" >Submit</button>
                       
                    </div>
					

                </form>

</div>